<h2 class="display-6">Employee List </h2>
<kendo-grid [data]="empList" >
  
  <kendo-grid-column field="empid" title="Employee ID" [width]="100"></kendo-grid-column>
  <kendo-grid-column field="name" title="Name" [width]="120"></kendo-grid-column>
  <kendo-grid-column field="city" title="City" [width]="120"></kendo-grid-column>
  <kendo-grid-column field="address" title="Address" [width]="200"></kendo-grid-column>
  <kendo-grid-column field="contactNo" title="Contact No" [width]="120"></kendo-grid-column>
  <kendo-grid-column field="emailId" title="Email ID" [width]="200"></kendo-grid-column>
  <kendo-grid-column field="pinCode" title="Pin Code" [width]="100"></kendo-grid-column>
  <kendo-grid-column field="state" title="State" [width]="100"></kendo-grid-column>

</kendo-grid>
